.navbarbgcolor{
  background-color: #5155c4 !important;
}
.dropdown-menu[data-bs-popper] {

  right: 0 !important;
}
body {
  font-family: 'DM Sans', sans-serif;
font-family: 'Rubik', sans-serif;
background-color: #f4f7fe !important;
}
.css-1a4d6jd-MuiTypography-root {
  font-family: 'DM Sans', sans-serif;

}
.css-10hburv-MuiTypography-root{
  font-family: 'DM Sans', sans-serif;
}
.icon {
  color: 'red',
}