@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  transition: 0.5s;
}

.context {
  overflow-x: hidden;
}
.context {
  width: 100%;
  position: absolute;
  top: 25vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* ?LOGIN CARD DESIGN  */

.wrapper {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 0% 50%;
  }
}

.login-body {
  display: grid;
  place-items: center;
  margin: 0;
  /* background-image: url("bbblurry.svg"); */
  background-repeat: no-repeat;
  background-size: 200vh;
  font-family: "Euclid Circular A";
  color: #3a334e;
  animation: rotate 1s infinite alternate linear;
}

/* .login-body button {
  background: transparent;
  border: 0;
  cursor: pointer;
} */

.control {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 85%;
  height: 56px;
  padding: 0 16px;
  background: #edeaf7;
  color: #5a4f79;
  margin: 8px 0;
  font-family: inherit;
  font-size: 16px;
  transition: 0.4s;
}

.login-card {
  width: 400px;
  padding: 30px 30px 64px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

.login-card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 6px;
}

.login-card > h3 {
  color: #837f90;
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 95%;
  margin: 0;
  display: grid;
}

.login-form input.control::placeholder {
  color: #aaa7bc;
}

.login-form > button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #703eff;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

.sign-btn {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #703eff !important;
  color: #ffffff !important;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
  margin-top: 30px;
  width: 75%;
  border-radius: 10px !important;
}
.sign-btn:hover {
  transition: all 0.375s;
  width: 80%;
  font-size: 1.1rem;
}

.username {
  position: relative;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #ccc9e1;
  border-top-color: #8f44fd;
  opacity: 0;
  animation: spin 1s infinite linear;
}

.spinner.visible {
  opacity: 1;
}

.alert {
  overflow: hidden;
  text-align: left;
  padding: 0 16px;
  color: #ff3e72;
  height: 0;
  transition: 0.3s;
}

.alert.visible {
  height: 32px;
}

#File-Body > #File-For {
  display: none;
}

#Filebutton {
  width: 310px;
  /* height: 35vh; */
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
  border: none;
}

#File-Body {
  width: 300px;
  /* height: 30px; */
}
.input-hover:hover {
  cursor: pointer;
}
.upld-btn {
  margin-top: 26px;
  background-color: #1e51dc;
  border-radius: 9px;
  padding: 7px !important;
  width: 159px;
  border: none !important;
  color: white;
}
.dashbord-bar {
  /* padding: 10px !important; */
  padding: 16px !important;
  color: #8f9bba;
}
.mar-lef {
  margin-left: 20px !important;
}
.ico-left {
  margin-left: 10px;
  font-size: 12px;
}
.dashbord-bar-active span.ico-left {
  color: #1c12f9;
}
.dashbord-bar-active {
  border-right: 4px solid blue;
  background-color: #f4f7fe;
  color: black;
  font-weight: 600;
}
.trans {
  transition-timing-function: ease;
}
.trans {
  transition: 2s;
}

.scroll-Effect {
  background-color: #d9e4ff70 !important;
  backdrop-filter: blur(17px) !important;
  transition: 0.3s !important;
  width: 86% !important;
  margin-right: 13px !important;
  margin-top: 10px !important;
  border-radius: 17px !important;
}
.non-effect {
  background-color: transparent;
  backdrop-filter: blur(1px);
  transition: 0.5s;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 0px;
}
